.profile__edit-button {
  background-image: url(../../../images/edit_button.svg);
  background-color: transparent;
  border: 0;
  width: 24px;
  height: 24px;
  transition: opacity 0.2s;
  cursor: url(../../../images/hand_hover.svg), auto;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 580px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: contain;
  }
}
