.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 462px;
  padding-left: 16px;
}

@media screen and (max-width: 580px) {
  .form {
    width: 282px;
    padding: 0 0 35px;
  }
}
