.popup__container {
  background-color: #fff;
  width: 430px;
  height: 330px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media screen and (max-width: 580px) {
  .popup__container {
    width: 282px;
  }
}
