.popup__button {
  background-color: #000;
  width: 358px;
  height: 50.15px;
  border: 0;
  border-radius: 2px;
  cursor: url(../../../images/hand_hover.svg), auto;
  transition: opacity 0.4s;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 580px) {
  .popup__button {
    width: 238px;
    font-size: 14px;
  }
}
