.profile__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #fff;
  width: 150px;
  height: 50px;
  cursor: url(../../../images/hand_hover.svg), auto;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 880px) {
  .profile__add-button {
    width: 282px;
  }
}
